.edit-user-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.user-avatar{
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}