.search-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.search-form{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.search-bar input[type='text']{
  flex-grow: 1;
  border-radius: 2rem;
  border: 1px solid black;
  outline: none;
  padding-left: 1rem;
  font-weight: 800;
}


