.landing-wrapper {
	display: grid;
  grid-template-columns: 5fr 2fr;
	grid-template-areas:
		"slider  right-side";
    height: 100vh;
    width: 100vw;
}

.landing-slider{
  grid-area: slider;
  height: 100vh;
  
}

.landing-right-side{
  grid-area: right-side;
  padding: 1rem;
  display: grid;
  border-left: 2px solid black;
  grid-template-rows: repeat(auto);
  margin-bottom: 5rem;
  align-items: center;
  justify-content: center;
}

.landing-logo{
width: max-content;
}


.landing-register-form{
align-self: center;
justify-self: center;
}
