#home-page {
  width: calc(100vw - (100vw - 100%));
	display: grid;
	grid-template-areas:
		"header header header"
		". main ."
		"footer footer footer";

	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 4rem 1fr 4rem;
	justify-content: center;
	align-items: center;
}

#home-page > .header {
	grid-area: header;
}

#home-page > .experiences-list {
	grid-area: main;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
  grid-auto-flow: dense;
	grid-gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
}

#home-page > .footer {
	grid-area: footer;
  justify-self: center;
}
